<div *ngIf="reunion">
  <mat-card>
    <div [fxFlex]="100" >
       <mat-card fxFlexFill fxLayoutAlign="center center" >
         <h2>Sondage propose par {{reunion.user.name}} </h2>
       </mat-card>
       <mat-card fxFlexFill fxLayoutAlign="center center"*ngIf="disableSurvey.length != 0" >
        <h2> Le sondage est clos la date retenue pour la reunion est : {{disableSurvey[0].date | date:'fullDate'}} </h2>
      </mat-card>
    </div>

    <div [fxFlex]="100" >
        <mat-card-header fxFlexFill fxLayoutAlign="center center">
            <mat-card-title>TITRE: {{reunion.titre}}</mat-card-title>
            <mat-card-subtitle>Lieu: {{reunion.lieu}}</mat-card-subtitle>
            <mat-card-title *ngIf="disableSurvey.length != 0"> <button mat-raised-button color="primary" [routerLink]="['./../../reunion',idSurvey]">Voir Details de la reunion</button></mat-card-title>

          </mat-card-header>
    </div>
    <mat-card-content>

      <table >

            <tbody>
                <mat-divider></mat-divider>
                <tr>
                    <td>

                    </td>

                     <td *ngFor="let date of reunion.dated" >
                        {{date.date | date:'fullDate'}} <br>
                        {{date.heure_debut}} <br>
                        {{date.heure_fin}}
                     </td>

                  </tr>
                  <mat-divider></mat-divider>
                  <tr>
                      <td *ngIf="invitations" > {{invitations.length}} Participants</td>
                      <td *ngFor="let date of reunion.dated">
                          <!-- <mat-icon>check</mat-icon>0 -->
                          <app-slot [slotId]="date.id" [sondageId]="idSurvey" (total) = getTotal($event)></app-slot>
                       </td>

                    </tr>
                    <mat-divider></mat-divider>
                    <mat-divider></mat-divider>
                  <tr *ngFor="let guest of invitations">
                    <td> {{guest}}</td>
                    <td *ngFor="let date of reunion.dated">
                        <!-- <mat-checkbox *ngIf="guest == userMail" (click)="selectedDate(date)" [(ngModel)]="date.valided" [disabled]="disable"></mat-checkbox> -->
                        <!-- <mat-checkbox *ngIf="guest != userMail"  [(ngModel)]="result" [disabled]=true></mat-checkbox> -->
                        <app-checker [slotID]="idSurvey" [email]="guest" [id_cr]="date.id" (click)="selectedDate(date,guest)" (results)="onChange($event)"></app-checker>
                     </td>
                     <mat-divider></mat-divider>
                    </tr>
                    <mat-divider></mat-divider>
                    <tr>
                      <td>
                        <button mat-raised-button  color="warn"(click)="validerVote()" [disabled]="creneau.length == 0">Valider le vote</button>
                      </td>
                      <td *ngFor="let date of reunion.dated">
                        <button *ngIf="reunion.user.email == userMail"  mat-raised-button  color="warn"(click)="validedSurvey(date.id,date)" [disabled]="disableSurvey.length != 0  ">Valider sondage</button>
                      </td>
                    </tr>
                    <mat-divider></mat-divider>
                </tbody>
      </table>

    </mat-card-content>
    <!-- <mat-card-actions align="start">
                <button mat-raised-button  color="warn"(click)="validerVote()" [disabled]="creneau.length == 0">Valider le vote</button>
    </mat-card-actions> -->

    <div [fxFlex]="100" >
      <mat-card >
          <mat-card-header>
              <mat-card-title>Les dernieres tendances</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <canvas baseChart width="500" height="200" [data]="pieChartData" [labels]="pieChartLabels " [chartType]="pieChartType"
                 ></canvas>
          </mat-card-content>
      </mat-card>
  </div>

</mat-card>
<div *ngIf="isInsert" class="center">
  <br><br>
  <mat-spinner color="warn"></mat-spinner>
  <br><br>
</div>
<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Liste de presence</mat-card-title>
    </mat-card-header>
    <mat-card-content>
          <ul >
              <li *ngFor="let item of attendlist">
                    {{item.name}} | {{item.email}}
              </li>
          </ul>
    </mat-card-content>

</mat-card> -->

</div>
