<div class="login-page">
    <div class="content">
        <!-- <h1 class="app-name">Sb Admin Material</h1> -->
          <mat-horizontal-stepper [linear]="isLinear" #stepper  >
            <mat-step [stepControl]="userForm">
              <form [formGroup]="userForm">
                <ng-template matStepLabel>Inscription</ng-template>
                <mat-form-field class="w-100">
                    <mat-label>Nom</mat-label>
                    <input matInput placeholder="First name" formControlName="COC_ENSEIGNANT_nom" required>
                    <!-- <input matInput placeholder="Email"> -->
                </mat-form-field>
                <mat-form-field class="w-100">
                  <mat-label>Prenoms</mat-label>
                  <input matInput placeholder="Last name " formControlName="COC_ENSEIGNANT_prenom" required>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="COC_ENSEIGNANT_email"  required>
                  </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="COC_ENSEIGNANT_motdepasse" type="password" required>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <mat-label>Confirmer mot de passe</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="verifyPassword"
                      type="password" [errorStateMatcher]="errorMatcher" required>
                      <mat-error *ngIf="userForm.hasError('passwordsDoNotMatch')">
                         Les mots de passe ne corresponds pas !
                        </mat-error>
                    </mat-form-field>
                    <div class="state">
                        Les mots de passe correspond t'ils ??
                        <strong>{{!userForm.hasError('passwordsDoNotMatch')}}</strong>
                      </div>
                      <div>
                        <button mat-raised-button color="warn" (click)="valider()">Valider</button>
                      </div>
              </form>
            </mat-step>
      
           
          </mat-horizontal-stepper>

    </div>
  </div>
